<!DOCTYPE html>
<html>

<head>
    <title>Resume Builder</title>
</head>

<tbody>

    <h1>All Resumes</h1>
    <hr>



    <!-- Loop through all the resumes -->
    {% for resume in resumes %}

    {% if resume.profile_picture %}
    <img src="{{ resume.profile_picture.url }}" width="100" alt="Profile Photo">
    {% else %}
    <p>No Image Uploaded!</p>
    {% endif %}

    <h2>{{resume.full_name}}</h2>
    <p>Position: {{resume.position}} at {{resume.company_name}}</p>
    <p>Email: {{resume.email}} | Phone: {{resume.phone}}</p>
    <hr>

    {% endfor %}


</tbody>

</html>